# config/database.yml

default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>

test:
  <<: *default
  url: <%= ENV['TEST_DATABASE_URL'] || ENV['DATABASE_URL'] %>

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
  # Untuk production, tambahkan config pool & timeout yang lebih besar
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 10 } %>
  timeout: 10000
  # SSL required untuk Supabase production
  sslmode: require